.container {
    display: flex;
    flex-direction: row;
}

.govWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.ddWrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.btnModal {
    margin-top: 20px;
    color: black;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: white;
}

.chatWrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
}
div.rt-td, div.rt-th { 
    display: flex;
    align-items: center;
    justify-content: center;
}

div.rt-th{
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}
.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}
.form-label {
    color: #ffffff;
}

@media only screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .govWrapper {
        width: 100%;
    }
    
    .ddWrapper {
        width: 100%;
        flex-direction: row;
    }

    .ddWrapper .box {
        width: 30%;
    }
    .chatWrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .ddWrapper {
        width: 100%;
        flex-direction: column;
    }

    .ddWrapper .box {
        width: 100%;
    }
}